<a href="https://colab.research.google.com/github/Mark-Jeonel-Kenn-Gob/DSA-CPE010-CPE21S4/blob/main/Exercise_3_(DSA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Area of a Circle

In [ ]:
#Using pre-defined pi value (3.1416) (Radius)

def AreaCircle(r):
  pi=3.1416
  area=pi*r*r
  return area

print("The area of the circle is: ", AreaCircle(5))

The area of the circle is:  78.54

In [ ]:
#Using pre-defined pi value (3.1416) (Diameter)

def AreaCircle(d):
  pi=3.1416
  area=pi*(d/2)*(d/2)
  return area

print("The area of the circle is: ", AreaCircle(10))

The area of the circle is:  78.54

In [ ]:
#Computing for area of a circle if radius is asked (Using exact pi value with math library)

import math

radius = float(input("Enter the radius of the circle: "))
area = math.pi * radius ** 2

print("The area of the circle is:", area)

Enter the radius of the circle: 5
The area of the circle is: 78.53981633974483

In [ ]:
#Computing for area of a circle if diameter is asked (Using exact pi value with math library)

import math

diameter = float(input("Enter the diameter of the circle: "))
radius = diameter / 2
area = math.pi * radius ** 2

print("The area of the circle is:", area)

Enter the diameter of the circle: 25
The area of the circle is: 490.8738521234052

#Methods of Array

In [ ]:
#Accessing the Elements in the Array

animals = ["cat", "dog", "fish"]
x = animals[0]
print(x)

cat

In [ ]:
#Modifying Elements in the Array

animals = ["cat", "dog", "fish"]
animals[0] = "monkey"
print(animals)

['monkey', 'dog', 'fish']

In [ ]:
#Length of the Array

animals = ["monkey", "dog", "fish"]
x = len(animals)
print(x)

3

In [ ]:
#Looping Array Elements

animals = ["monkey", "cat", "dog", "fish"]
for x in animals:
  print(x)

monkey
cat
dog
fish

In [ ]:
#Adding Item in the Animals

animals = ["monkey", "cat", "dog", "fish"]
animals.append("bird")
print(animals)

['monkey', 'cat', 'dog', 'fish', 'bird']

In [ ]:
#Remove an Item in the Array List

animals = ["monkey", "cat", "dog", "fish"]
animals.pop(2)
print(animals)

['monkey', 'cat', 'fish']

In [ ]:
#Inserting an Animal in a Specific Location using insert()

animals = ["monkey", "cat", "dog", "fish"]
animals.insert(1, "bird")
print(animals)

['monkey', 'bird', 'cat', 'dog', 'fish']

In [ ]:
#Remove the Item in the Specified Index Value using remove()

animals = ["monkey", "cat", "dog", "fish"]
animals.remove("dog")
print(animals)

['monkey', 'cat', 'fish']

In [ ]:
#Reverse all Items in the List

animals = ["monkey", "cat", "dog", "fish"]
animals.reverse()
print(animals)

['fish', 'dog', 'cat', 'monkey']